/*
=========================================================
Global Rules
=========================================================
*/
body {
    min-width: 320px;
    background-color: #f4f5f6;
    color: #333;
    font-size: 13px;
    line-height: 18px;
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}

article {
    padding-bottom: 20px;
}

h3 {
    font-size: 24px;
    line-height: 24px;
}

.flex-sm {
    display: flex;
}

.flex-xs {
    display: flex;
}

.summary {
    font: 15px/20px "Helvetica Neue", "Helvetica", Arial, sans-serif;
}

h1>a,
h2>a,
h3>a,
h4>a,
h5>a {
    font: "Roboto Condensed",sans-serif;
    color: black;
}

a {
    color: black;
}

h3>a:hover,
h4>a:hover {
    color: black;
    text-decoration: underline #f72210;
}

.title>a:hover {
    color: black;
    text-decoration: none;
}

h4 {
    font-size: 17px;
}

img {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

/*
=========================================================
Header
=========================================================
*/

.page-header .container {
    max-width: 1310px;
    padding: 0;
    position: relative;
}

.header-top {
    background-color: #f72210;
    height: 95px;
    color: white;
    padding: 10px;
}

.header-date {
    color: inherit;
    font: bold 14px/14px "Roboto Condensed",sans-serif;
}

.logo>img {
    margin-top: 10px;
}

.header-nav ul.news-navbar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 15px 0 15px 0;
    font-size: 19px;
    background-color: white;
    border-bottom: 1px solid #f4f5f6;
    font-weight: 900;
}

.news-navbar>li>a:hover {
    text-decoration: none;
    color: #f72210;
}

.signin {
    color: white;
    font: bold 20px "Roboto Condensed", sans-serif;
    padding-right: 10px;
}

.subscribe {
    color: #f72210;
    background-color: white;
    font: bold 20px "Roboto Condensed",sans-serif;
    text-transform: uppercase;
    display: inline-block;
    padding: 6px 3px;
}

.header-signin> a:first-child:hover {
    color: inherit;
    text-decoration: none;
}

.header-signin> a:hover {
    color: #f72210;
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    .page-header .header-middle {
        background-color: var(--newsred);
        padding: 10px 15px 10px 15px;
        position: absolute;
        transform: translate(-50%, 0);
        top: 0%;
        left: 50%;
    }

    ul.news-navbar li:first-child {
        border-left-width: 0;
    }

    ul.news-navbar li {
        -webkit-flex-grow: 1;
        flex-grow: 1;
        text-align: center;
        border-left-width: 1px;
        border-left-style: solid;
        border-color: #d9d9d9;
    }
}

@media screen and (max-width: 991px) {
    .header-top .header-date {
        display: none;
    }

    .header-middle .logo>img {
        fill: white;
        width: 132px;
        height: 20px;
        display: block;
    }

    .header-top {
        height: 50px;
    }

    .page-header .header-middle {
        padding: 15px;
        position: relative;
    }
}

/*
=========================================================
Main
=========================================================
*/


/*
=========================================================
Featured
*/
.main {
    background-color: white;
    max-width: 1310px;
    padding-top: 20px;
}

.colwrap {
    padding: 15px;
}

.col4 {
    width: 71%;
}

.column-4-wrap {
    display: flex;
}

.block-title {
    text-transform: uppercase;
    padding-bottom: 11px;
    font: bold 12px "Roboto Condensed", sans-serif;
    color: rgba(3,3,3,.4);
}

.wrap {
    margin-bottom: 10px;
    position: relative;
}

.col-wrap {
    padding-left: 15px;
    padding-right: 15px;
}

.category {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(255, 255, 255, .9);
    font: bold 17px/16px "Roboto Condensed", sans-serif;
    padding: 8px 15px 9px;
}

.category a {
    color: rgb(248, 75, 61);
}

.category a:hover {
    text-decoration: none;
}

.col1 {
    width: 41%;
}

.col2 {
    width: 59%;
}

/*
=========================================================
Culture Section
*/

.culture-stories {
    padding: 10px 0;
}

.culture-items {
    margin-left: -10px;
    margin-right: -10px;
}

.culture-item {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    width: 33%;
}

.tags {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #c2d4d7;
    font: "Roboto Condensed", sans-serif;
    padding: 2px 5px;
}

.tags>a:hover,
.tags>a:hover {
    text-decoration: none;
}

.image {
    position: relative;
}

.culture-item .image img {
    width: 100%;
    position: relative;
}

.culture-item .summary {
    margin-bottom: 10px;
}

/*
=========================================================
More Stories section
*/

.snippet {
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    border-top: 1px solid #ddd;
}

.snippet .image {
    width: 95px;
    margin: 0 15px 10px 0;
}

.snippet .info {
    display: flex;
    flex-direction: column;
    font-size: 17px;
    line-height: 20px;
}

/*
========================================================
Right Column
*/

.col3 {
    flex: 0 0 29%;
    max-width: 29%;
    padding-left: 15px;
    padding-right: 15px;
}

.col3-upper {
    margin-bottom: 25px;
}

.summary>a {
    font-weight: bold;
}

.summary>a:hover {

    color: #f72210;
    text-decoration: none;

}

.head {
    width: 63px;
    height: 63px;
    margin-right: 15px;
}


ul>.flex-xs:first-child {
    border: none;
}

ul>.flex-xs {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.debate-head {
    width: 50%;
    margin-right: 10px;
}

.debate-box-r>.summary {
    padding-top: 10px;
}

.debate-box-r {
    border-top: 4px solid #f92859;
}

.by-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.vs {
    width: 40px;
    height: 40px;
    background-color: #000;
    color: #d6d6d6;
    border-radius: 50%;
    font: bold 14px/40px "Roboto Condensed", sans-serif;
    text-align: center;
    margin: 14px auto 18px;
}

.debate-box-b {
    border-top: 4px solid #1c87fb;
}

.latest-news>article:first-of-type {
    border: none;
}

.latest-news>.snippet>.image>img {
    width: auto;
}

.sign-in {
    margin-top: 35px;
}

.sign-up .wrap {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e5e5e5;
    margin: 0 auto 30px;
    background-color: #f4f5f6;
}

.sign-up .title {
    display: flex;
    margin: 20px auto;
    font: bold 18px/18px "Roboto Condensed", sans-serif;
    padding-left: 25px;
}

.icon {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.sign-up>a:first-of-type {
    padding: 10px 10px 10px 12px;
    color: white;
    font: bold 18px/18px "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    margin-right: 146px;
    background-color: #666;
}

.sign-up>a {
    margin-left: 25px;
    margin-bottom: 20px;
}

.sign-up>a:hover {
    color: black;
    text-decoration: none;
}

/*
========================================================
LOWER SECTION
========================================================
*/

.lower-section {
    margin-top: 20px;
}

/*
========================================================
Magazine Section
*/

.magazine {

}

.magazine-title {
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.magazine-title .block-title {
    padding: 0;
    font: bold 22px "Roboto Condensed", sans-serif;
    color: black;
}

.cover {
    width: 25%;
    padding: 0 15px;
    position: relative;
}

.top-row {
    align-items: center;
}

.top-row1 {

}

.bottom-row {

}

.row-box {

}

.box {
    position: relative;
}